<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../public/styles/style.css" />
        <title>TURNAMENT FUTSAL</title>
    </head>

    <body>
        <h1>Welcome</h1>
        <main>
            <h2>
                Selamat kamu sudah terdaftar dengan ini kamu akan dapat lebih
                mudah mencari lawan futsal untuk Daerah DIY
            </h2>

            <h1>SELAMAT BERTANDING :)</h1>

            <div class="content-container">
                <img class="logo" src="../public/images/siluete.png" />
            </div>

            <div class="button-container">
                <a href="tim3.html" class="button">CARI PERTANDINGAN</a>
            </div>
        </main>

        <footer>
            <p>Copyright 2023</p>
        </footer>
    </body>
</html>
